<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Prototype Settings">

    <title>Customize the store!</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mt-5 mb-5">Customize your components!</h2>
            <form action="#" th:action="@{/setting/components/save}" th:object="${form}" method="post">
                <fieldset>
                    <div class="mb-2">
                        <span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
                        </span>
                    </div>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Order</th>
                            <th scope="col">Header</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="component, itemStat : *{components}">
                            <th style="width: 10%" scope="row">
                                <p th:text="*{components[__${itemStat.index}__].id}"></p>
                                <input type="hidden" th:field="*{components[__${itemStat.index}__].id}"/>
                            </th>
                            <td style="width: 60%" scope="row">
                                <p th:text="*{components[__${itemStat.index}__].title}"></p>
                                <input type="hidden" th:field="*{components[__${itemStat.index}__].title}"/>
                            </td>
                            <td style="width: 20%">
                                <select class="form-control" th:field="*{components[__${itemStat.index}__].ranking}">
                                    <option th:each="i : ${#numbers.sequence(0, 7)}"
                                            th:value="${i}"
                                            th:text="${i}"
                                            th:selected="*{components[__${itemStat.index}__].ranking} == ${i}"
                                    </option>
                                </select>
                            </td>

                            <td style="width: 10%">
                                <div class="form-group">
                                    <div class="form-check"><input
                                            th:field="*{components[__${itemStat.index}__].header}" type="checkbox"
                                            class="form-check-input"
                                            th:checked="${component.isHeader()}"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script src="/vendor/jquery/jquery.slim.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>