<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Prototype Settings">

    <title>Customize the store!</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mt-5 mb-5">Customize your components!</h2>           
            <div th:each="component : ${components}">
                <p th:text="${component.id}"></p>
                <p th:text="${component.title}"></p>
                <p th:text="${component.ranking}"></p>
                <p th:text="${component.header}"></p>
                <p th:text="${txt}"></p>

            </div>
        </div>
    </div>
</div>
<script src="/vendor/jquery/jquery.slim.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>